/* reset */
body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

/* base */
* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* コンテンツ */
.header {
  padding: 40px;
  text-align: center;
}

.wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 700px 1fr;
  margin: auto;
}

.main {
  grid-area: 1 / 2 / 2 / 3;
}

.section {
  padding: 80px 40px;
  background-color: #f1f1f1;

  &:nth-child(even) {
    background-color: #fff;
  }
}

.aside {
  display: grid;
  padding: 1em;
}

.asideLeft {
  grid-area: 1 / 1 / 2 / 2;
  justify-content: end;
}

.asideRight {
  grid-area: 1 / 3 / 2 / 4;
}

.navList {
  display: grid;
  gap: 1em;
  left: 0;
  position: sticky;
  top: 0;
}

.navItem a {
  text-decoration: none;
  color: #000;
}

.navItem.is-active a {
  color: red;
}

.footer {
  padding: 80px;
  text-align: center;
}
