:root {
  --header-height: 70px;
}

/* base */
* {
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* reset */
body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

figure {
  margin: 0;
}

/* コンテンツ */
.header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-top: 70px;
  position: sticky;
  top: 0;
  transition: padding-top 0.3s ease;
}

.header.is-scrolled {
  padding-top: 0;
}

.logo {
  align-items: center;
  display: inline-flex;
  font-size: 20px;
  padding: 1em;
}

.hero {
  padding: 40px;
  text-align: center;
}

.wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 700px 1fr;
  margin: auto;
}

.main {
  grid-area: 1 / 2 / 2 / 3;
}

.section {
  padding: 80px 40px;
  background-color: #f1f1f1;

  &:nth-child(even) {
    background-color: #fff;
  }
}

.aside {
  display: grid;
  padding: 1em;
}

.asideLeft {
  grid-area: 1 / 1 / 2 / 2;
  justify-content: end;
}

.asideRight {
  grid-area: 1 / 3 / 2 / 4;
}

.navList {
  display: grid;
  gap: 1em;
  left: 0;
  position: sticky;
  top: var(--header-height);
}

.navItem a {
  text-decoration: none;
  color: #000;
}

.navItem.is-active a {
  color: red;
}

.footer {
  padding: 80px;
  text-align: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.is-scrollLock {
  overflow: hidden;
}

.fixedNav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
}

.navPanel {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: #fff;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.fixedNav.is-open .navPanel {
  transform: translateX(0);
}

.fixedNav.is-open .navPanel {
  transform: translateX(0);
}

.openButton {
  transition: transform 0.3s ease;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
